<h2>Start a new project!</h2>
<br>
<form action='/projects' method='post'>
  <input type='text' class="form-control" name='new_project' id='new_project' placeholder='What is the title of your project?' required>
  <br>
  <button type="submit" class="btn btn-success">Start the project!</button>
</form>